#banner {
  background-image: url("../Assets/bgHome.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 24.75rem;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 33px;
}

.title-banner {
  color: #fff;
  width: 22.5rem;
  padding: 0 0 0 20px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.56rem;
}

.text-banner {
  max-width: 31.25rem;
  font-size: 1.5rem;
  line-height: 2.18rem;
  background-color: rgba(80, 154, 175, 0.5);
  padding: 2px 0px 7px 12px;
  color: #fff;
}